.about{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    align-content: center;
    justify-content: center;
    padding: 5rem 0;
}

.about_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1170px;
    gap: 2rem;
}

.about_image {
    display: flex;
    justify-content: center;
    width: 100%;
}
.about_img {
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-2);
}

.about_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

}

.about_subtitle {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    gap: 10px;
    color: var(--secondary);
}

.about_subtitle::before {
    content: "";
    height: 2px;
    width: 30px;
    background: var(--secondary);
}

.about_title {
    color: var(--primary);
    font-size: 2.2rem;
    font-weight: 600;
}

.about_title.span {
    color: var(--secondary);
    font-weight: 500;
}

.about_info_desc {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.5;
}

.about_button {
    width: 303px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.about_contact_button {
    color: var(--primary);
    font-size: 1.2rem;
}

.about_contact_button:hover {
    color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.underline {
    background-color: var(--secondary);
    height: 2px;
    width: 100%;
}

@media screen and (max-width: 1228px) {
    .about_section{
        width: 1023px;
    }

    .about_info_desc {
        text-align: justify;
    }
}

@media screen and (max-width: 1053px) {
    .about_section{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 850px;
    }

    .about_img {
        width: 90%;
    }
}

@media screen and (max-width: 890px) {
    .about_section{
        width: 750px;
    }
}

@media screen and (max-width: 785px) {
    .about_section{
        width: clamp(270px, 90vw, 600px);
    }
}

@media screen and (max-width: 650px) {
    .about_img {
        width: 100%;
    }

    .about_title{
        font-size: 2rem;
    }

    .about_info_desc {
        font-size: 0.925rem;
    }

    .about{
        padding: 3rem 0;
    }
}