footer{
    display: grid;
    justify-content: center;
    padding: 5rem 0 2.5rem 0;
    gap: 2.5rem;
    background-color: var(--primary);
}

.footer_details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;
    gap: 1.5rem;
    width: 1170px;
}

.footer_logo, .footer_navigation,
.footer_services, .footer_newsletter{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 1.3rem;
}

.footer_logo a{
    font-size: 1.8rem;
    font-weight: 800;
    font-family: "roboto", sans-serif;
    color: var(--white);
    text-transform: capitalize;
}

.footer_titles{
    font-size: 1.225rem;
    font-weight: 500;
    color: var(--white);
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 0.2rem;
    width: fit-content;
}

.footer_navigation_links{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer_navigation_links a{
    color: #ffffffa4;
    font-size: 0.925rem;
    font-weight: 350;
    display: inline-block;
    transition: 0.2s ease;
}

.footer_navigation_links a:hover {
    color: var(--secondary);
    transform: translateX(8px);
}

.footer_services_links a:hover{
    transform: none;
}

.footer_logo_desc{
    color: #ffffffa4;
    font-size: 0.925rem;
    font-weight: 350;
    line-height: 1.3rem;
}

.footer_logo_icon{
    display: flex;
    gap: 0.5rem;
}

.footer_logo_icon_i{
    background-color: #367db431;
    transition: 0.2s ease;
    padding: 0.775rem 0.665rem;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

.footer_logo_icon_i i{
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.footer_logo_icon_i:hover{
    background-color: var(--secondary);
    transform: translateY(-5px);
}

.footer_form{
    position: relative;
    width: 100%;
}

.footer_email_input{
    background-color: #367db431;
    border: 1px solid #ffffff36;
    height: 2.7rem;
    width: 100%;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 2.9rem;

    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
}

.footer_email_input_button{
    position: absolute;
    right: 1px;
    top: 9%;
    transform: translate(-9%);
    cursor: pointer;

    border: none;
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px;
    border-radius: 0.3rem;
}

.footer_email_input::placeholder{
    color: #ffffffa4;
    font-size: 0.9rem;
    font-weight: 350;
}

.footer_divider{
    height: 1px;
    background-color: #367db431;
}

.footer_copyright{
    display: flex;
    justify-content: space-between;
}

.footer_copyright_desc, .footer_copyright_link_title{
    color: #ffffff80;
    transition: 0.2s ease;
    font-size: 0.925rem;
    font-weight: 350;
}

.footer_copyright_link_title:hover{
    color: #fff;
}

.footer_copyright_link ul{
    display: flex;
    gap: 1.5rem;
}

@media screen and (max-width: 1228px) {
    .footer_details{
        width: 1023px;
    }
}

@media screen and (max-width: 1053px) {
    .footer_details{
        width: 850px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_logo, .footer_navigation,
    .footer_services, .footer_newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_navigation_links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
}

@media screen and (max-width: 890px) {
    .footer_details{
        width: 750px;
    }

    .footer_logo_desc{
        text-align: center;
    }

    .footer_copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 785px) {
    .footer_details{
        width: clamp(270px, 90vw, 600px);
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}